{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Habits</title>
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
    </head>

<body>
    <section>
        <div class="create_container">
           <form action="{% url 'add-habits' %}" method="POST">
               {% csrf_token %}
            <input type="text"
            class="create_input"
            placeholder="Привычки"
            name="habits_name"
            />
            <input type="text"
            class="create_input"
            placeholder="комментарий"
            name="comment"
            />
            <button class="create_btn">Добавить</button>
           </form>
        </div>
        <div class="todo_container">
            {% for habits in habits_list %}
            <div class="todo_item
            {% if habits.important %}
                mark
            {% elif habits.done_for_today %}
                done
            {% endif %}
        
        ">
                    <div class="todo_item__header">
                        <label class="container">
                            <input type="checkbox"
                                {% if habits.done_for_today %}
                                    checked
                                {% endif %}
                             />
                            <span class="checkmark"></span>
                        </label>
                        <h4><a href="{% url 'close-habits' habits.id %}">{{ habits.name }}</a></h4>
                    </div>
                    <div class="todo_item__footer">
                        <p>{{ habits.comment }}</p>
                        <div class="action_buttom">
                            {% if habits.important %}
                                <a href="{% url 'unmark-habits' habits.id %}"><img src="{% static './src/star-solid.svg' %}" alt="Importance"></a>
                            {% else %}
                                <a href="{% url 'mark-habits' habits.id %}"><img src="{% static './src/star-regular.svg' %}" alt="Importance"></a>
                            {% endif %}
                                <a href="{% url 'delete-habits' habits.id %}"><img src="{% static './src/trash-solid.svg' %}" alt="Delete"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="homework_links">
                <button>
                    <a href="http://127.0.0.1:8000">Home</a>
                </button>
                <button>
                    <a href="http://127.0.0.1:8000/to_meet/">to_meet</a>
                </button>
           </div>
    </section>
</body>

</html>