{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ToDo</title>
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
    </head>

<body>
    <section>
        <div class="create_container">
           <form action="{% url 'add-todo' %}" method="POST">
               {% csrf_token %}
            <input type="text"
            class="create_input"
            placeholder="Введите задачу"
            name="todo_text"
            />
            <button class="create_btn">Добавить</button>
           </form>
        </div>
        <div class="todo_container">
            {% for todo in todo_list %}
            <div class="todo_item
            {% if todo.is_favorite %}
                mark
            {% elif todo.is_closed %}
                done
            {% endif %}
        
        ">
                    <div class="todo_item__header">
                        <label class="container">
                            <input type="checkbox"
                                {% if todo.is_closed %}
                                    checked
                                {% endif %}
                             />
                            <span class="checkmark"></span>
                        </label>
                        <h4><a href="{% url 'close-todo' todo.id %}"></a>{{ todo.text }}</h4>
                    </div>
                    <div class="todo_item__footer">
                        <p>{{ todo.created_at }}</p>
                        <div class="action_buttom">
                            {% if todo.is_favorite %}
                                <a href="{% url 'unmark-todo' todo.id %}"><img src="{% static './src/star-solid.svg' %}" alt="Importance"></a>
                            {% else %}
                                <a href="{% url 'mark-todo' todo.id %}"><img src="{% static './src/star-regular.svg' %}" alt="Importance"></a>
                            {% endif %}
                                <a href="{% url 'delete-todo' todo.id %}"><img src="{% static './src/trash-solid.svg' %}" alt="Delete"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </section>
</body>

</html>