{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <!-- <link rel="stylesheet" href="./style/style.css"> -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
</head>
<body>
    <section>
        <div class="create_container">
            <input type="text"
            class="create_input"
            placeholder="Введите задачу">
            <button class="create_btn">Добавить</button>
        </div>
        <div class="todo_container">
            <div class="todo_item">
                <div class="todo_item__header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item__footer">
                    <p>3.11.2021 <span>20:00</span></p>
                    <div class="action_buttom">
                        <img src="./src/trash-solid.svg" alt="Delete">
                        <img src="./src/star-regular.svg" alt="Importance">
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item__header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item__footer">
                    <p>3.11.2021 <span>20:00</span></p>
                    <div class="action_buttom">
                        <img src="./src/trash-solid.svg" alt="Delete">
                        <img src="./src/star-regular.svg" alt="Importance">
                    </div>
                </div>
            </div>

            <div class="todo_item mark">
                <div class="todo_item__header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item__footer">
                    <p>3.11.2021 <span>20:00</span></p>
                    <div class="action_buttom">
                        <img src="./src/trash-solid.svg" alt="Delete">
                        <img src="./src/star-solid.svg" alt="Importance">
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item__header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item__footer">
                    <p>3.11.2021 <span>20:00</span></p>
                    <div class="action_buttom">
                        <img src="./src/trash-solid.svg" alt="Delete">
                        <img src="./src/star-regular.svg" alt="Importance">
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item__header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item__footer">
                    <p>3.11.2021 <span>20:00</span></p>
                    <div class="action_buttom">
                        <img src="./src/trash-solid.svg" alt="Delete">
                        <img src="./src/star-regular.svg" alt="Importance">
                    </div>
                </div>
            </div>

            <div class="todo_item mark">
                <div class="todo_item__header">
                    <label class="container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item__footer">
                    <p>3.11.2021 <span>20:00</span></p>
                    <div class="action_buttom">
                        <img src="./src/trash-solid.svg" alt="Delete">
                        <img src="./src/star-regular.svg" alt="Importance">
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>