{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/checkbox.css' %}">
</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-tomeet' %}" method="POST">
                {% csrf_token %}
                <input type="text"
                    class="create_input tomeet"
                    placeholder="Введите имя"
                    name="tomeet_person"
                />
                {% csrf_token %}
                <input type="phone"
                    class="create_input tomeet"
                    placeholder="Введите номер телефона"
                    name="tomeet_phone_number"
                />
                <button class="create_btn">Добавить</button>
            </form>
        </div>
        <div class="todo_container">
            {% for tomeet in tomeet_list %}
            
            <div class="todo_item
            {% if tomeet.is_favorite %}
                mark
            {% elif tomeet.is_closed %}
                done
            {% endif %}
        
        ">
                    <div class="todo_item__header">
                        <label class="container">
                            <input type="checkbox"
                            {% if todo.is_closed %}
                                checked
                            {% endif %}
                         />
                            <span class="checkmark"></span>
                        </label>
                        <h4><a href="{% url 'close-tomeet' tomeet.id %}">{{ tomeet.person }}</a></h4>
                        <div class="todo_telnum">{{ tomeet.phone_number}}</div>
                    </div>
                    <div class="todo_item__footer">
                        <p>{{ tomeet.date_of_meeting }}</p>
                        <div class="action_buttom">
                            {% if tomeet.is_favorite %}
                                <a href="{% url 'unmark-tomeet' tomeet.id %}"><img src="{% static './src/star-solid.svg' %}" alt="Importance"></a>
                            {% else %}
                                <a href="{% url 'mark-tomeet' tomeet.id %}"><img src="{% static './src/star-regular.svg' %}" alt="Importance"></a>
                            {% endif %}
                                <a href="{% url 'delete-tomeet' tomeet.id %}"><img src="{% static './src/trash-solid.svg' %}" alt="Delete"></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="homework_links">
                <button>
                    <a href="http://127.0.0.1:8000">Home</a>
                </button>
                <button>
                    <a href="http://127.0.0.1:8000/habits">habits</a>
                </button>
           </div>
    </section>
</body> 
</body>
</html>